node_modules
.DS_Store

# Potree
node_modules
docs/.marking_your_own_pointcloud_loader.md.html
docs/.file_format.md.html
docs/.doc.md.html
docs/.how_does_loading_nodes_work.md.html
docs/.materials_and_rendermodes.md.html
docs/.how_to_create_your_own_pointcloud_loader.md.html
.project

# Socket Server
server/SocketServer/build

# PotreeConverter
server/build
Potree.v11.suo
Potree.v12.suo
Potree.sdf
PotreeConverter/bin
PotreeConverter/obj
Potree.opensdf
bin/
obj
build/*
.idea
*.orig
test/converted

# LAStools
src_full
Release
Debug
lastools.ncb
lastools.opt
*~

CMakeFiles
*.o
*.a
CMakeFiles
CMakeCache*
*.cmake